@import '../../helpers/Variables';

main {
    header {
        h2 {
            color: $darkColor;
            font-weight: 900;
        }
    }
    .category-blogs, .tag-blogs {
        .n-blogs {
            color: $darkColor;
            text-align: center;
        }
    }
}