@import '../../helpers/Variables';

.error {
    color: #a94442;
    font-weight: 600;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: -5px;
    background: rgba(169, 68, 66, .1);
    padding: 5px 10px;
    border: 1px solid rgba(169, 68, 66, .5);
    border-radius: 2px;
    span {
        margin-right: 2px;
    }
}

.signup, .signin {
    .uk-container-small {
        max-width: 400px;
    }
    .signup-form, .signin-form {
        margin-top: 55px;
        padding: 40px;
        border-radius: 5px;
        box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.08);
        .form-heading {
            h2 {
                margin: 0;
                color: $mainColor;
                font-weight: 900;
                letter-spacing: 3px;
            }
            p {
                margin: 5px 0 0 0;
            }
        }
        .inputs {
            .input {
                position: relative;
                label {
                    position: relative;
                    left: -40px;
                    opacity: 0;
                    color: $mainColor;
                    font-weight: 600;
                }
                input {
                    width: 100%;
                    padding-left: 35px;
                    margin-top: 2px;
                    height: 50px;
                    border-radius: 2px;
                    border-color: #dddfdf;
                    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
                    &:focus {
                        border-color: #80bdff;
                        box-shadow: 0 0 0 0.2rem rgba(2, 135, 207, .3);
                        outline: none;
                    }
                }
                span {
                    position: absolute;
                    left: 25px;
                    top: 40px;
                    color: $mainColor;
                }
            }
            .uk-grid-margin {
                margin-top: 0;
            }

            .signup-control, .signin-control {
                margin-top: 25px;
                .signup-btn, .signin-btn {
                    button {
                        text-transform: uppercase;
                        border: none;
                        background: $mainColor;
                        cursor: pointer;
                        width: 100px;
                        height: 30px;
                        color: $lightColor;
                        outline: none;
                    }
                }
                .signin-btn, .signup-btn {
                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: $mainColor;
                    }
                    span {
                        color: $mainColor;
                        margin-left: -15px;
                        opacity: 0;
                        transition: .2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
                    }
                    a:hover + span{
                        margin-left: 5px;
                        opacity: 1;
                    }
                }
            }
        }
    }
}