@import '../../helpers/Variables';
@import '../../helpers/Mixins';

.alert-message {
    position: fixed;
    width: 100%;
    .message {
        position: absolute;
        opacity: 0;
        top: -60px;
        z-index: 99;
        padding: 5px 10px;
        border-radius: 2px;
        animation: messageAlert .15s linear;
        span {
            margin-left: 5px;
        }
    }
    .success {
        color: #32d296;
        background: #edfbf6;
    }
    .error {
        color: #f0506e;
        background: #f8f8f8;
    }
}

@keyframes messageAlert {
    from {
        left: -60px;
    }
    to {
        left: 0;
    }
}

.contact-form {
    padding: 50px;
    @include gradientBG;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.06);
    h2 {
        color: $darkColor;
        font-weight: 900;
    }
    form {
        .input {
            label {
                text-transform: uppercase;
                color: $darkColor;
                font-weight: 600;
                font-size: 14px;
            }
            input, textarea {
                margin-top: 5px;
                height: 50px;
                border-radius: 2px;
                border-color: #dddfdf;
                transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
                &:focus {
                    border-color: #80bdff;
                    box-shadow: 0 0 0 0.2rem rgba(2, 135, 207, .3);
                    outline: none;
                }
            }
            textarea {
                height: 140px;
            }
        }
        .contact_form-control {
            button {
                text-transform: uppercase;
                border: none;
                background: $mainColor;
                cursor: pointer;
                width: 120px;
                height: 45px;
                color: $lightColor;
                outline: none;
                font-size: 13px;
            }
        }
    }
}