@import '../../helpers/Variables';
@import '../../helpers/Mixins';

.categoreis_tags-content {
    h2 {
        font-weight: 600;
    }
    .cats, .tags {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: stretch;
        a {
            margin-right: 5px;
            margin-top: 5px;
            color: $lightColor;
            text-decoration: none;
            border-radius: 2px;
            font-size: 13px;
            padding: 5px 10px;
        }
    }
    .cats {
        a {
            background: #7d5fff;
        }
    }
    .tags {
        margin-top: 10px;
        a {
            background: #17c0eb;
        }
    }
}

.no-blogs, .no-cats, .no-tags {
    margin: 0;
    background: rgba(216, 234, 252, .4);
    padding: 10px;
    border-left: 3px solid $mainColor;
    padding-left: 10px;
    color: $darkColor;
}

.blog-item {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.08);
    .blog-image {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        overflow: hidden;
    }
    .card-content {
        @include gradientBG;
        padding: 25px;
        a {
            text-decoration: none;
        }
        .blog-excerpt {
            p {
                margin-bottom: 10px;
                max-height: 50px; 
                overflow: hidden;
            }
            @include arrowEffect;
        }
    }
}

.load-more {
    @include arrowEffect;
    a {
        span {
            font-size: 13px;
        }
    }
}

// single blog
.blog-img {
    img {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
    }
}

.blog-content {
    .blog-title {
        h2 {
            color: $darkColor;
            margin-bottom: 25px;
            font-size: 50px;
            font-weight: 900;
        }
    }
    .creator {
        margin-bottom: 25px;
        border-left: 2px solid #7d5fff;
        padding-left: 10px;
        .creator-icon {
            margin-right: 5px;
            vertical-align: middle;
        }
        p {
            margin: 0;
            font-size: 14px;
            border-radius: 2px;
            span {
                font-weight: 600;
            }
            &:first-child {
                margin-bottom: 5px;
                color: #7d5fff;
            }
            &:last-child {
                color: #17c0eb;
            }
        }
    }
    .blog-tags-cats {
        margin-bottom: 25px;
        .cats, .tags {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: stretch;
        }
        .cats {
            a {
                background: #7d5fff;
            }
        }
        .tags {
            margin-top: 10px;
            a {
                background: #17c0eb;
            }
        }
        a {
            margin-right: 10px;
            color: $lightColor;
            text-decoration: none;
            border-radius: 2px;
            padding: 5px 10px;
            font-size: 13px;
        }
    }
    .blog-body {
        margin-bottom: 25px;
    }
    .related-blogs {
        margin-bottom: 25px;
        h4 {
            color: $darkColor;
            font-weight: 600;
        }
    }
    .blog-comments {
        // margin-bottom: 25px;
    }
}

