@import '../../helpers/Variables';
@import '../../helpers/Mixins';

// Category.js && Tag.js
.form-inputs {
    label {
        color: $darkColor;
        font-weight: 600;
    }
    .uk-input {
        margin-top: 5px;
        height: 50px;
        border-radius: 2px;
        border-color: #dddfdf;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
        &:focus {
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2rem rgba(2, 135, 207, .3);
            outline: none;
        }
    }
}

.create-btn {
    button {
        margin-top: 15px;
        background: $mainColor;
        border: none;
        color: $lightColor;
        padding: 10px 20px;
        cursor: pointer;
        outline: none;
        margin-bottom: 30px;
    }
}

.no-categories, .no-tags {
    margin: 0;
    background: rgba(216, 234, 252, .4);
    padding: 10px;
    border-left: 3px solid $mainColor;
    padding-left: 10px;
    color: $darkColor;
}

.category-name, .tag-name {
    &:not(:first-child) {
        margin-right: 10px;
    }
    background: transparent;
    border: 2px solid $mainColor;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 600;
    color: $mainColor;
    margin-bottom: 5px;
}

.alert-message {
    position: relative;
    .message {
        position: absolute;
        opacity: 0;
        top: -60px;
        z-index: 99;
        padding: 5px 10px;
        border-radius: 2px;
        animation: messageAlert .15s linear;
        span {
            margin-left: 5px;
        }
    }
    .success {
        color: #32d296;
        background: #edfbf6;
    }
    .error {
        color: #f0506e;
        background: #f8f8f8;
    }
    .removed {
        color: #faa05a;
        background: #fff6ee;
    }
}

@keyframes messageAlert {
    from {
        left: -60px;
    }
    to {
        left: 0;
    }
}

// CreateBlog.js
.blog_creation-content, .blog_update-content {
    .featured-img {
        h5 {
            color: $darkColor;
            font-weight: 600;
            margin: 0;
        }
        .uk-form-custom {
            display: block;
        }
        .uk-button-default {
            margin-top: 10px;
        }
    }
    .categories-tags {
        h5 {
            color: $darkColor;
            font-weight: 600;
            margin: 0;
        }
        .categories, .tags {
            .categories-items, .tags-items {
                display: flex;
                flex-flow: row wrap;
                justify-content:flex-start;
                align-items: stretch;
                max-height: 100px;
                padding: 15px 10px;
                overflow-y: auto;
                scroll-behavior: smooth;
                span {
                    margin-right: 5px;
                    padding: 5px;
                    user-select: none;
                    cursor: pointer;
                    input {
                        margin-right: 5px;
                        height: 15px;
                        width: 15px;
                        margin-top: 0;
                        border-radius: 2px;
                        &:checked {
                            background-color: $mainColor;
                            animation: jelly .5s ease;
                        }
                    }
                    label {
                        font-weight: 600;
                        color: $darkColor;
                        &::after {
                            content: '';
                            display: block;
                            background: $mainColor;
                            height: 2px;
                            position: relative;
                            top: -10px;
                            right: -20px;
                            width: 0;
                            transition: all .2s ease-in-out;
                        }
                    }
                    input:checked + label:after {
                        width: 50%;
                        opacity: .5;
                    }
                    input:checked + label {
                        opacity: .5;
                        color: $mainColor;
                    }
                }
            }
        }
    }
}

.ql-editor {
    min-height: 300px;
}

@keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(.95, 1.05);
    }
    75% {
        transform: scale(1.05, .95);
    }
    to {
        transform: scale(1, 1);
    }
}

// ReadBlogs.js
.blog-content {
    padding: 30px;
    @include gradientBG;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    h3 {
        color: #000;
        margin-bottom: 10px;
    }
    p {
        margin: 0 0 10px 0;
        // &:first-child {
        //     color: #7d5fff;
        // }
        // &:last-child {
        //     color: #17c0eb;
        // }
    }
    .blog-control {
        button {
            margin-top: 20px;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            outline: none;
        }
        button:first-child {
            background:#ebdede;
            color: #f0506e;
        }
        button:last-child {
            color: #32d296;
            background: #edfbf6;
        }
    }
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: $mainColor;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: $mainColor;
}