@import '../../helpers/Variables';
@import '../../helpers/Mixins';

.header {
    background: #fff;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.09);
    .logo {
        color: $darkColor;
        font-size: 18px;
    }
    .navLink {
        @include linkHoverEffect;
        a {
            color: $darkColor;
            &:hover, &:active, &:focus {
                color: $darkColor;
            }
        }
    }
    // menu button
    .menuBtn {
        background: transparent;
        color: $darkColor;
        @include linkHoverEffect;
    }
}