@import '../../helpers/Variables';
@import '../../helpers/Mixins';

#nprogress .bar {
    background: $mainColor !important;
    height: 4px !important;
}

.header {
    @include gradientBG;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.06);
    .logo {
        color: $darkColor;
        font-size: 18px;
        font-weight: 600;
    }
    .navSearch {
        a {
            color: $darkColor;
            &:hover {
                color: $darkColor;
            }
            span {
                font-size: 13px;
            }
        }
        .uk-dropdown-nav {
            background: none;
            box-shadow: none;
            padding: 5px 0px 0 0;
        }
    }
    .navLink {
        @include linkHoverEffect;
        a {
            color: $darkColor;
            font-weight: 500;
            font-size: 13px;
            &:hover, &:active, &:focus {
                color: $darkColor;
            }
            span {
                margin-left: 5px;
                margin-top: -1px;
                &:first-child {
                    color: $mainColor;
                }
            }
        }
    }
    // menu button
    .menuBtn {
        background: transparent;
        color: $darkColor;
        @include linkHoverEffect;
    }
}

.uk-offcanvas-bar {
    @include gradientBG;
    .logo {
        font-size: 20px;
        text-decoration: none;
        color: $darkColor;
        font-weight: 900;
        margin-top: 30px;
        &:hover {
            color: $darkColor !important;
        }
    }
}

.uk-nav-default {
    li {
        margin: 15px 0;
        a {
            color: $darkColor !important;
            text-transform: uppercase;
            &:hover {
                color: $darkColor !important;
            }
        }
    }
}