@import '../../helpers/Variables';
@import '../../helpers/Mixins';

#nprogress .bar {
    background: $mainColor !important;
    height: 4px !important;
}

.header {
    background: #fff;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.06);
    .logo {
        color: $darkColor;
        font-size: 18px;
        font-weight: 600;
    }
    .navLink {
        @include linkHoverEffect;
        a {
            color: $darkColor;
            &:hover, &:active, &:focus {
                color: $darkColor;
            }
            span {
                margin-left: 5px;
                margin-top: -1px;
                &:first-child {
                    color: $mainColor;
                }
            }
        }
    }
    // menu button
    .menuBtn {
        background: transparent;
        color: $darkColor;
        @include linkHoverEffect;
    }
}